APIObjectGroups:
- Name: secret
  Objects:
    - Name: SecretDefinition
      Versions:
        - v0
      Reconcilable: true
      Tptctl:
        Enabled: true
      AllowCustomMiddleware: true
      DisableNotificationPersistence: true
    - Name: SecretInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl:
        Enabled: true
- Name: actuator
  Objects:
    - Name: Profile
      Versions:
        - v0
    - Name: Tier
      Versions:
        - v0
- Name: aws
  Objects:
    - Name: AwsAccount
      Versions:
        - v0
      Tptctl: 
        Enabled: true
    - Name: AwsEksKubernetesRuntimeDefinition
      Versions:
        - v0
      Tptctl: 
        Enabled: true
    - Name: AwsEksKubernetesRuntimeInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        Enabled: true
    - Name: AwsRelationalDatabaseDefinition
      Versions:
        - v0
      Tptctl: 
        Enabled: true
    - Name: AwsRelationalDatabaseInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        Enabled: true
    - Name: AwsObjectStorageBucketDefinition
      Versions:
        - v0
      Tptctl: 
        Enabled: true
    - Name: AwsObjectStorageBucketInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        Enabled: true
- Name: control_plane
  Objects:
    - Name: ControlPlaneDefinition
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        Enabled: true
    - Name: ControlPlaneInstance
      Versions:
        - v0
      Reconcilable: true
      LoadAssociationsFromDb: true
      Tptctl: 
        Enabled: true
- Name: control_plane_components
  Objects:
    - Name: ControlPlaneComponent
      Versions:
        - v0
      RouteExclude: true
- Name: class
  Objects:
    - Name: Definition
      Versions:
        - v0
      RouteExclude: true
    - Name: Instance
      Versions:
        - v0
      RouteExclude: true
- Name: gateway
  Objects:
    - Name: GatewayDefinition
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        Enabled: true
    - Name: GatewayInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        Enabled: true
    - Name: GatewayHttpPort
      Versions:
        - v0
    - Name: GatewayTcpPort
      Versions:
        - v0
    - Name: DomainNameDefinition
      Versions:
        - v0
    - Name: DomainNameInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        Enabled: true
- Name: helm_workload
  Objects:
    - Name: HelmWorkloadDefinition
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        ConfigPath: true
    - Name: HelmWorkloadInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        ConfigPath: true
- Name: kubernetes_runtime
  Objects:
    - Name: KubernetesRuntimeDefinition
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        Enabled: true
    - Name: KubernetesRuntimeInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        Enabled: true
- Name: log
  Objects:
    - Name: LogBackend
      Versions:
        - v0
    - Name: LogStorageDefinition
      Versions:
        - v0
    - Name: LogStorageInstance
      Versions:
        - v0
- Name: observability
  Objects:
    - Name: ObservabilityStackDefinition
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        ConfigPath: true
    - Name: ObservabilityStackInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        ConfigPath: true
    - Name: ObservabilityDashboardDefinition
      Versions:
        - v0
      Reconcilable: true
    - Name: ObservabilityDashboardInstance
      Versions:
        - v0
      Reconcilable: true
    - Name: MetricsDefinition
      Versions:
        - v0
      Reconcilable: true
    - Name: MetricsInstance
      Versions:
        - v0
      Reconcilable: true
    - Name: LoggingDefinition
      Versions:
        - v0
      Reconcilable: true
    - Name: LoggingInstance
      Versions:
        - v0
      Reconcilable: true
- Name: terraform
  Objects:
    - Name: TerraformDefinition
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        ConfigPath: true
    - Name: TerraformInstance
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        ConfigPath: true
- Name: workload
  Objects:
    - Name: WorkloadDefinition
      Versions:
        - v0
      Reconcilable: true
      Tptctl: 
        ConfigPath: true
    - Name: WorkloadResourceDefinition
      Versions:
        - v0
    - Name: WorkloadResourceInstance
      Versions:
        - v0
    - Name: AttachedObjectReference
      Versions:
        - v0
    - Name: WorkloadInstance
      Versions:
        - v0
        - v1
      Reconcilable: true
      Tptctl: 
        Enabled: true
    - Name: WorkloadEvent
      Versions:
        - v0
- Name: attached_object
  Objects:
    - Name: AttachedObjectReference
      Versions:
        - v1