name: Check Base Branch

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  base-branch-check:
    runs-on: ubuntu-latest
    steps:
    - name: Check Base Branch
      run: |
        if [[ "${GITHUB_BASE_REF}" != "0.4" ]]; then
          echo "Error: By default the pull request should be targeting the '0.4' branch but targets '${GITHUB_BASE_REF}' instead."
          echo "You can ignore this error if you are adding a bug fix to an earlier minor version release"
          exit 1
        fi

