name: Test

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  images:
    runs-on: ubuntu-22.04
    steps:

    - name: Check out code
      uses: actions/checkout@v3

    - name: Build threeport API
      uses: macbre/push-to-ghcr@master
      with:
        image_name: threeport/threeport-rest-api
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerfile: cmd/rest-api/image/Dockerfile
        image_tag: ${{ github.sha }}

    - name: Build workload-controller
      uses: macbre/push-to-ghcr@master
      with:
        image_name: threeport/threeport-workload-controller
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerfile: cmd/workload-controller/image/Dockerfile
        image_tag: ${{ github.sha }}

    - name: Build kubernetes-runtime-controller
      uses: macbre/push-to-ghcr@master
      with:
        image_name: threeport/threeport-kubernetes-runtime-controller
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerfile: cmd/kubernetes-runtime-controller/image/Dockerfile
        image_tag: ${{ github.sha }}

    - name: Build aws-controller
      uses: macbre/push-to-ghcr@master
      with:
        image_name: threeport/threeport-aws-controller
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerfile: cmd/aws-controller/image/Dockerfile
        image_tag: ${{ github.sha }}

    - name: Build gateway-controller
      uses: macbre/push-to-ghcr@master
      with:
        image_name: threeport/threeport-gateway-controller
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerfile: cmd/gateway-controller/image/Dockerfile
        image_tag: ${{ github.sha }}

    - name: Build threeport-agent
      uses: macbre/push-to-ghcr@master
      with:
        image_name: threeport/threeport-agent
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerfile: cmd/agent/image/Dockerfile
        image_tag: ${{ github.sha }}

  test:
    needs: images
    runs-on: ubuntu-22.04
    steps:

    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build tptctl
      run: make build-tptctl

    - name: Create test control plane
      run: bin/tptctl create control-plane -t ${{ github.sha }} -n dev-0

    - name: Run tests
      run: make tests

  clean:
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GH_ACCESS_TOKEN }}

    - name: Delete threeport API image
      uses: bots-house/ghcr-delete-image-action@v1.1.0
      with:
        owner: ${{ github.repository_owner }}
        name: threeport-rest-api
        token: ${{ secrets.PACKAGES_PAT }}
        tag: ${{ github.sha }}

    - name: Delete workload controller image
      uses: bots-house/ghcr-delete-image-action@v1.1.0
      with:
        owner: ${{ github.repository_owner }}
        name: threeport-workload-controller
        token: ${{ secrets.PACKAGES_PAT }}
        tag: ${{ github.sha }}

    - name: Delete kubernetes runtime controller image
      uses: bots-house/ghcr-delete-image-action@v1.1.0
      with:
        owner: ${{ github.repository_owner }}
        name: threeport-kubernetes-runtime-controller
        token: ${{ secrets.PACKAGES_PAT }}
        tag: ${{ github.sha }}

    - name: Delete aws controller image
      uses: bots-house/ghcr-delete-image-action@v1.1.0
      with:
        owner: ${{ github.repository_owner }}
        name: threeport-aws-controller
        token: ${{ secrets.PACKAGES_PAT }}
        tag: ${{ github.sha }}

    - name: Delete gateway controller image
      uses: bots-house/ghcr-delete-image-action@v1.1.0
      with:
        owner: ${{ github.repository_owner }}
        name: threeport-gateway-controller
        token: ${{ secrets.PACKAGES_PAT }}
        tag: ${{ github.sha }}

    - name: Delete threeport agent image
      uses: bots-house/ghcr-delete-image-action@v1.1.0
      with:
        owner: ${{ github.repository_owner }}
        name: threeport-agent
        token: ${{ secrets.PACKAGES_PAT }}
        tag: ${{ github.sha }}

