name: Test

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Install mage
      run: go install github.com/magefile/mage@latest

      - name: Set up Docker
      uses: docker/setup-docker-action@v4
      with:
        docker-version: '27.5.1' # Adjust this to match the version with API 1.45

    - name: Create local container registry
      run: mage dev:localRegistryUp

    - name: Build control plane component binaries
      run: mage build:allBinsDev

    - name: Build and push control plane component images
      run: mage build:allImagesDev

    - name: Build tptctl
      run: mage build:tptctl

    - name: Create test control plane
      run: mage test:up

    - name: Run tests
      run: mage test:integration
